<%#=
 * User: nmeylan
 * Date: 08.11.14
 * Time: 07:50
%>

<div id="story-<%= @user_story_decorator.id %>">
  <h2><%= @user_story_decorator.title %></h2>
  <%= @user_story_decorator.creation_info %>

  <table class="detail" style="width:100%">
    <tr>
      <th style="width:15%"><%= t(:field_tracker) %> :</th>
      <td style="width:30%"><%= @user_story_decorator.display_tracker %></td>
      <th style="width:15%"><%= t(:field_version) %> :</th>
      <td style="width:30%"><%= @user_story_decorator.display_version %></td>
    </tr>
    <tr>
      <th style="width:15%"><%= t(:field_status) %> :</th>
      <td style="width:30%"><%= @user_story_decorator.display_status %></td>
      <th style="width:15%"><%= t(:label_sprint) %> :</th>
      <td style="width:30%"><%= @user_story_decorator.display_sprint %></td>
    </tr>
    <tr>
      <th style="width:15%"><%= t(:link_story_points) %> :</th>
      <td style="width:30%"><%= @user_story_decorator.points ? @user_story_decorator.display_points : '-' %></td>
      <th style="width:15%"><%= t(:label_sprint_dates) %> :</th>
      <td style="width:30%"><%= @user_story_decorator.sprint ? @user_story_decorator.display_sprint_dates : '-' %></td>
    </tr>
    <tr>
      <th style="width:15%"><%= t(:field_category) %> :</th>
      <td style="width:30%"><%= @user_story_decorator.category ? @user_story_decorator.display_category : '-' %></td>
    </tr>
    <tr>
      <th style="width:15%"><%= t(:field_epic) %> :</th>
      <td style="width:30%"><%= @user_story_decorator.epic ? @user_story_decorator.display_epic : '-' %></td>
    </tr>
    <tr>
      <th style="width:15%"><%= t(:field_assigned_to) %> :</th>
      <td style="width:30%" class="story-detail"><%= @user_story_decorator.display_all_assigned %></td>
    </tr>
    <tr>
      <th style="width:15%"><%= t(:progression) %> :</th>
      <td style="width:30%" class="tooltipped tooltipped-w" label="<%= @user_story_decorator.total_progress %>%">
        <%= @user_story_decorator.total_progress_bar %>
      </td>
    </tr>
  </table>
  <br/>
  <hr/>
  <br/>

  <h2><%= t(:field_description) %> :</h2>
  <%= @user_story_decorator.display_description %>

  <br/>
  <hr/>
  <br/>

  <h2><%= t(:label_tasks) %> : </h2>
  <%= @user_story_decorator.display_tasks %>
  <%= render_story_trash_tasks(@user_story_decorator)%>

  <%= @user_story_decorator.display_history(history) %>
  <%= @user_story_decorator.add_comment_block %>
</div>