<%= form_for(@story_status) do |f| %>
  <% if @story_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story_status.errors.count, "error") %> prohibited this story_status from being saved:</h2>

      <ul>
      <% @story_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :board_id %><br>
    <%= f.number_field :board_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
