<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @story_status.name %>
</p>

<p>
  <strong>Board:</strong>
  <%= @story_status.board_id %>
</p>

<%= link_to 'Edit', edit_story_status_path(@story_status) %> |
<%= link_to 'Back', story_statuses_path %>
